#projects {
  //   margin-left: 180px;
  // width: 100vw;
  // max-width: 1000px;
  //   background-color: yellow;
}

.project {
  width: 400px;
  height: 400px;
  background: rgb(48, 48, 48);
  border-radius: $radius;
  min-height: initial;
  margin-left: 8px;
  margin-right: 0;
  overflow: hidden;

  img {
    // width: 400px;
    height: 250px;
    object-fit: cover;
    padding: 0;
    margin: 0;
  }
  p {
    width: initial;
    text-align: center;
  }
  .project-title {
    color: $tertiary !important;
  }
  .project-body {
    height: 64px;
  }

  .project-bar {
    margin-right: auto;
  }
}
