.show-on-small {
  display: none;
}

a {
  text-decoration: none;
  margin: 0;
  padding: 0;
  color: #535ce0;
}

.full {
  width: 100%;
}

.material-icons {
  margin-left: 0px;
  vertical-align: middle;
  display: flex !important;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #73aeef;
  min-height: 100vh;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

#modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 100vh;
  background-color: rgba(83, 92, 224, 0.9);
}

#modal-content {
  background-color: black;
  padding: 32px 0;
  border-radius: 16px;
  box-shadow: 0 0 30px -6px rgba(0, 0, 0, 0.47);
  -webkit-box-shadow: 0 0 30px -6px rgba(0, 0, 0, 0.47);
  -moz-box-shadow: 0 0 30px -6px rgba(0, 0, 0, 0.47);
  width: 90%;
}
#modal-content p {
  padding-bottom: 32px;
}

#close-modal {
  position: absolute;
  top: 0;
  right: 0;
  margin: 16px;
  cursor: pointer;
  color: white;
  font-weight: bolder;
  font-size: 2em;
}

#close-modal:hover {
  color: black;
}

.flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.row {
  flex-direction: row;
  flex-wrap: wrap;
}

.start {
  justify-content: flex-start;
}

h1 {
  font-size: 4em;
  font-weight: 1200;
  margin: 8px 0;
  width: 90%;
}

p {
  font-size: 1.3em;
  margin: 8px 0;
  width: 90%;
}

h1,
p {
  color: white;
}

h3 {
  color: #1a79e2;
  margin: 0;
  margin-left: 0px;
}

h5 {
  color: #a9aef0;
  margin: 0;
  margin-left: 0px;
}

.noteworthy {
  color: white;
  font-weight: bolder;
  font-style: italic;
  font-size: 1em;
  margin: 32px 0;
  width: 300px !important;
}
.noteworthy span {
  color: #535ce0;
}

.box {
  width: 800px;
  background-color: rgba(5, 23, 43, 0.9);
  border-radius: 16px;
  box-shadow: 0 0 30px -6px rgba(0, 0, 0, 0.47);
  -webkit-box-shadow: 0 0 30px -6px rgba(0, 0, 0, 0.47);
  -moz-box-shadow: 0 0 30px -6px rgba(0, 0, 0, 0.47);
  min-height: 500px;
  margin: 64px;
  margin-bottom: 0;
  padding-bottom: 64px;
}
.box p,
.box h1 {
  width: 100%;
}

.box-content {
  width: 600px;
}

.light {
  background-color: #0a2f59;
}

.btn {
  padding: 4px 8px;
  color: white;
  border-radius: 100px;
  min-width: 100px;
  margin: 16px 8px;
  cursor: pointer;
  transition: 0.5s;
}
.btn p {
  text-align: center;
  width: initial;
  font-size: 16px;
}

.primary {
  background-color: #05172b;
}

.primary:hover {
  background-color: black;
}

.secondary {
  background-color: #00a76f;
}

.secondary:hover {
  background-color: #000e09;
}

.tertiary {
  background-color: #535ce0;
}
.tertiary p {
  color: white;
}

.tertiary:hover {
  background-color: #a9aef0;
}
.tertiary:hover p {
  color: #1b2398;
}

.transparent {
  background-color: transparent;
  border: 1px solid white;
}

.transparent:hover {
  background-color: rgba(255, 255, 255, 0.808);
  border: 1px solid rgba(255, 255, 255, 0.808);
}
.transparent:hover p,
.transparent:hover span {
  color: black;
  transition: 0.5s;
}

.btn:hover {
  transform: translateY(-4px);
}

.bg-pattern {
  position: fixed;
  background-size: cover;
  top: 0;
  left: 0;
  width: 100%;
  height: 110vh;
  z-index: -1;
  opacity: 1;
  overflow: hidden;
  background-image: url(https://images.unsplash.com/photo-1610795555359-05c885d4649e?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=2340&q=80);
}

@media only screen and (max-width: 1000px) {
  .show-on-small {
    display: flex;
  }

  h1 {
    font-size: 3em;
    font-weight: 1200;
    margin: 8px 0;
    width: 90%;
  }

  p {
    font-size: 1em;
    margin: 8px 0;
    width: 90%;
  }

  .box {
    width: 95%;
    background-color: rgba(5, 23, 43, 0.9);
    border-radius: 4px;
    box-shadow: 0 0 30px -6px rgba(0, 0, 0, 0.47);
    -webkit-box-shadow: 0 0 30px -6px rgba(0, 0, 0, 0.47);
    -moz-box-shadow: 0 0 30px -6px rgba(0, 0, 0, 0.47);
    min-height: 400px;
    margin: 0;
    margin-top: 72px;
    padding-bottom: 32px;
  }
  .box p,
.box h1 {
    width: 100%;
    text-align: center;
  }

  .box-content {
    width: 90%;
  }
  .box-content .start {
    justify-content: center;
  }

  .btn {
    padding: 4px 8px;
    color: white;
    border-radius: 100px;
    min-width: 100px;
    margin: 16px;
    cursor: pointer;
    transition: 0.5s;
  }
  .btn p {
    text-align: center;
    width: initial;
    font-size: 12px;
  }

  #modal-content {
    background-color: black;
    padding: 32px 0;
    border-radius: 4px;
    box-shadow: 0 0 30px -6px rgba(0, 0, 0, 0.47);
    -webkit-box-shadow: 0 0 30px -6px rgba(0, 0, 0, 0.47);
    -moz-box-shadow: 0 0 30px -6px rgba(0, 0, 0, 0.47);
    width: 95%;
  }
  #modal-content p {
    padding-bottom: 32px;
  }

  #close-modal {
    position: absolute;
    top: 0;
    right: 0;
    margin: 16px;
    cursor: pointer;
    color: white;
    font-weight: bolder;
    font-size: 1em;
  }
}
.nav {
  width: initial;
  margin-right: 0;
  position: fixed;
  width: 200px;
  top: 0;
  left: 0;
}
.nav img {
  width: 100px;
  border-radius: 50%;
  margin: 32px 0;
  margin-bottom: 8px;
}
.nav h4 {
  color: white;
  margin: 24px;
  text-transform: uppercase;
}

.nav-item {
  text-align: center;
  cursor: pointer;
  transition: 0.5s;
  color: #00a76f;
  width: 150px !important;
  text-align: left;
  margin-left: 16px;
}
.nav-item span {
  margin-right: 8px;
}

.nav-item:hover {
  text-align: center;
  cursor: pointer;
  color: white;
}

.fixed-nav {
  width: 300px;
  flex-shrink: 0;
}

@media only screen and (max-width: 1000px) {
  .nav {
    width: initial;
    margin-right: 0;
    position: fixed;
    width: 100vw;
    top: 0px;
    flex-direction: row;
    height: 64px;
    min-height: initial;
    padding: 0;
    border-radius: 0;
    background-color: #05172b;
    margin: 0;
  }
  .nav img {
    width: 48px;
    border-radius: 50%;
    margin: 0;
    margin-left: 8px;
  }
  .nav h4 {
    color: white;
    margin: 8px;
    text-transform: uppercase;
    font-size: 0.8em;
  }

  .nav-item {
    cursor: pointer;
    transition: 0.5s;
    color: #00a76f;
    width: initial !important;
    text-align: center;
    margin-left: 4px;
    font-size: 0.9em;
    justify-content: center;
  }
  .nav-item span {
    margin-right: 0px;
  }

  .nav-item:hover {
    text-align: center;
    cursor: pointer;
    color: white;
  }

  .fixed-nav {
    width: 0;
  }
}
#experience h1 {
  margin: 64px;
  margin-right: auto;
  margin-left: 0;
}
#experience h2 {
  font-size: 3em;
  font-weight: 1200;
  margin: 8px;
  width: 90%;
  margin-top: 64px;
  color: #00a76f;
  margin-left: 0;
}
#experience .box {
  min-height: initial;
}

.technologies {
  margin: 16px;
  margin-bottom: 64px;
  justify-content: flex-start;
  margin-left: 0;
}
.technologies img,
.technologies i {
  width: 64px;
  margin: 16px;
  margin-left: 0;
  font-size: 64px;
  color: white;
}

@media only screen and (max-width: 1000px) {
  #experience h1 {
    margin: 32px;
    margin-right: auto;
    margin-left: 0;
  }
  #experience h2 {
    font-size: 2em;
    font-weight: 1200;
    margin: 8px;
    width: 90%;
    margin-top: 32px;
    color: #00a76f;
    margin-left: 0;
  }
  #experience .box {
    min-height: initial;
  }
  #experience p {
    text-align: left;
  }
  #experience h5 {
    text-align: center;
  }

  .technologies {
    margin: 16px;
    margin-bottom: 32px;
    justify-content: center;
    margin-left: 0;
  }
  .technologies img,
.technologies i {
    width: 32px;
    margin: 8px;
    margin-left: 0;
    font-size: 48px;
    color: white;
  }
}
.project {
  width: 320px;
  height: 400px;
  background: #05172b;
  border-radius: 16px;
  min-height: initial;
  margin-left: 8px;
  margin-right: 0;
  overflow: hidden;
  padding-bottom: 0;
}
.project img {
  width: 320px;
  height: 200px;
  object-fit: cover;
  padding: 0;
  margin: 0;
  overflow: hidden;
}
.project p {
  width: initial;
  padding: 0 8px;
  text-align: center;
  font-size: 1em;
}
.project .project-title {
  color: #9499ec !important;
}
.project .project-body {
  height: 64px;
}
.project .project-bar {
  margin-right: auto;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

footer {
  margin-top: 64px;
  width: 100vw;
  background-color: #181e82;
  height: 64px;
  bottom: 0;
}
footer i {
  width: 32px;
  margin-right: 64px;
  font-size: 64px;
}
footer i,
footer span {
  color: white;
}

/*# sourceMappingURL=style.css.map */
